# Importing necessary Libraries

In [4]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
sns.set()

In [6]:
# Load The Dataset
geo = pd.read_csv('Geo_scores.csv')
instance = pd.read_csv('instance_scores.csv')
lamda = pd.read_csv('Lambda_wts.csv')
qset = pd.read_csv('Qset_tats.csv')
test = pd.read_csv('test_share.csv')
train = pd.read_csv('train.csv')

In [8]:
# Shape
print(geo.shape)
print("*******************")
print(instance.shape)
print("*******************")
print(lamda.shape)
print("*******************")
print(qset.shape)
print("*******************")
print(test.shape)
print("*******************")
print(train.shape)

(1424035, 2)
*******************
(1424035, 2)
*******************
(1400, 2)
*******************
(1424035, 2)
*******************
(56962, 27)
*******************
(227845, 28)

In [10]:
# Shape
print(geo.head(2))
print("*******************")
print(instance.head(2))
print("*******************")
print(lamda.head(2))
print("*******************")
print(qset.head(2))
print("*******************")
print(test.head(2))
print("*******************")
print(train.head(2))

       id  geo_score
0   26674       4.48
1  204314       4.48
*******************
       id  instance_scores
0  173444            -0.88
1  259378             1.50
*******************
    Group  lambda_wt
0  Grp936       3.41
1  Grp347      -2.88
*******************
       id  qsets_normalized_tat
0    9983                  2.41
1  266000                  3.10
*******************
       id   Group      Per1      Per2  Per3      Per4  Per5      Per6  Per7  \
0  146574  Grp229 -0.300000  1.540000  0.22 -0.280000  0.57  0.260000  0.70
1  268759  Grp141  0.633333  0.953333  0.81  0.466667  0.91  0.253333  1.04

       Per8  ...      Dem7      Dem8      Dem9     Cred1     Cred2     Cred3  \
0  1.076667  ...  0.786667  0.546667  0.313333  0.703333  0.813333  0.776667
1  0.550000  ...  0.636667  0.770000  0.993333  0.536667  0.703333  0.806667

      Cred4     Cred5     Cred6  Normalised_FNT
0  0.796667  0.823333  0.783333       -249.7500
1  0.630000  0.673333  0.673333       -249.8125

[2 rows x 27 columns]
*******************
       id   Group      Per1      Per2      Per3      Per4      Per5      Per6  \
0  112751  Grp169  1.070000  0.580000  0.480000  0.766667  1.233333  1.993333
1   18495  Grp161  0.473333  1.206667  0.883333  1.430000  0.726667  0.626667

   Per7      Per8  ...      Dem8      Dem9     Cred1  Cred2     Cred3  \
0  0.34  1.010000  ...  0.680000  0.726667  0.606667   1.01  0.933333
1  0.81  0.783333  ...  0.716667  0.743333  0.680000   0.69  0.560000

      Cred4     Cred5     Cred6  Normalised_FNT  Target
0  0.603333  0.686667  0.673333         -245.75       0
1  0.670000  0.553333  0.653333         -248.00       0

[2 rows x 28 columns]

In [12]:
# Shape
print(geo.info())
print("*******************")
print(instance.info())
print("*******************")
print(lamda.info())
print("*******************")
print(qset.info())
print("*******************")
print(test.info())
print("*******************")
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424035 entries, 0 to 1424034
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   id         1424035 non-null  int64
 1   geo_score  1352492 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 21.7 MB
None
*******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424035 entries, 0 to 1424034
Data columns (total 2 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   id               1424035 non-null  int64
 1   instance_scores  1424035 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 21.7 MB
None
*******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Group      1400 non-null   object
 1   lambda_wt  1400 non-null   float64
dtypes: float64(1), object(1)
memory usage: 22.0+ KB
None
*******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424035 entries, 0 to 1424034
Data columns (total 2 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1424035 non-null  int64
 1   qsets_normalized_tat  1320834 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 21.7 MB
None
*******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56962 entries, 0 to 56961
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              56962 non-null  int64
 1   Group           56962 non-null  object
 2   Per1            56962 non-null  float64
 3   Per2            56962 non-null  float64
 4   Per3            56962 non-null  float64
 5   Per4            56962 non-null  float64
 6   Per5            56962 non-null  float64
 7   Per6            56962 non-null  float64
 8   Per7            56962 non-null  float64
 9   Per8            56962 non-null  float64
 10  Per9            56962 non-null  float64
 11  Dem1            56962 non-null  float64
 12  Dem2            56962 non-null  float64
 13  Dem3            56962 non-null  float64
 14  Dem4            56962 non-null  float64
 15  Dem5            56962 non-null  float64
 16  Dem6            56962 non-null  float64
 17  Dem7            56962 non-null  float64
 18  Dem8            56962 non-null  float64
 19  Dem9            56962 non-null  float64
 20  Cred1           56962 non-null  float64
 21  Cred2           56962 non-null  float64
 22  Cred3           56962 non-null  float64
 23  Cred4           56962 non-null  float64
 24  Cred5           56962 non-null  float64
 25  Cred6           56962 non-null  float64
 26  Normalised_FNT  56962 non-null  float64
dtypes: float64(25), int64(1), object(1)
memory usage: 11.7+ MB
None
*******************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227845 entries, 0 to 227844
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              227845 non-null  int64
 1   Group           227845 non-null  object
 2   Per1            227845 non-null  float64
 3   Per2            227845 non-null  float64
 4   Per3            227845 non-null  float64
 5   Per4            227845 non-null  float64
 6   Per5            227845 non-null  float64
 7   Per6            227845 non-null  float64
 8   Per7            227845 non-null  float64
 9   Per8            227845 non-null  float64
 10  Per9            227845 non-null  float64
 11  Dem1            227845 non-null  float64
 12  Dem2            227845 non-null  float64
 13  Dem3            227845 non-null  float64
 14  Dem4            227845 non-null  float64
 15  Dem5            227845 non-null  float64
 16  Dem6            227845 non-null  float64
 17  Dem7            227845 non-null  float64
 18  Dem8            227845 non-null  float64
 19  Dem9            227845 non-null  float64
 20  Cred1           227845 non-null  float64
 21  Cred2           227845 non-null  float64
 22  Cred3           227845 non-null  float64
 23  Cred4           227845 non-null  float64
 24  Cred5           227845 non-null  float64
 25  Cred6           227845 non-null  float64
 26  Normalised_FNT  227845 non-null  float64
 27  Target          227845 non-null  int64
dtypes: float64(25), int64(2), object(1)
memory usage: 48.7+ MB
None

In [20]:
# Shape
print(geo.isnull().sum())
print("*******************")
print(instance.isnull().sum())
print("*******************")
print(lamda.isnull().sum())
print("*******************")
print(qset.isnull().sum())
print("*******************")
print(test.isnull().sum())
print("*******************")
print(train.isnull().sum())

id               0
geo_score    71543
dtype: int64
*******************
id                 0
instance_scores    0
dtype: int64
*******************
Group        0
lambda_wt    0
dtype: int64
*******************
id                           0
qsets_normalized_tat    103201
dtype: int64
*******************
id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
dtype: int64
*******************
id                0
Group             0
Per1              0
Per2              0
Per3              0
Per4              0
Per5              0
Per6              0
Per7              0
Per8              0
Per9              0
Dem1              0
Dem2              0
Dem3              0
Dem4              0
Dem5              0
Dem6              0
Dem7              0
Dem8              0
Dem9              0
Cred1             0
Cred2             0
Cred3             0
Cred4             0
Cred5             0
Cred6             0
Normalised_FNT    0
Target            0
dtype: int64

In [26]:
# Shape
print("*************Print UniqueID to the customer************")
print(geo['id'].nunique())
print("*******************")
print(instance['id'].nunique())
print("*******************")
print(qset['id'].nunique())
print("*******************")
print(test['id'].nunique())
print("*******************")
print(train['id'].nunique())

print("************Unique Group to the Customer***************")
print(lamda['Group'].nunique())
print("***********************")
print(train['Group'].nunique())
print("***********************")
print(test['Group'].nunique())

*************Print UniqueID to the customer************
284807
*******************
284807
*******************
284807
*******************
56962
*******************
227845
************Unique Group to the Customer***************
1400
***********************
1301
***********************
915